h1{
    margin-top: 20%;
    text-align: center;
    color: white;
}
.home{
    background-image: url('../images/photo-1571150074595-78b9736a6fd4.jpeg');
    background-size: cover;
    height: 100vh;
}
.partners img{
    width: 120px;
    height: 80px;
  }
.partners{
    margin-top: 2%;
    text-align: center;
}